<!DOCTYPE html>
<html ng-app="app">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,width=device-width,height=device-height,target-densitydpi=device-dpi,user-scalable=yes" />
<title>Layout</title>

<!-- fav and touch icons -->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/admin/assets/app/ico/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/admin/assets/app/ico/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/admin/assets/app/ico/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="/admin/assets/app/ico/apple-touch-icon-57-precomposed.png">
<link rel="shortcut icon" href="/admin/assets/app/ico/favico.png">
<link rel="shortcut icon" href="/admin/assets/app/ico/favico.ico">

<!-- theme fonts -->
<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300italic,300,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

<!-- theme bootstrap stylesheets -->
<link href="/admin/assets/bootstrap/css/bootstrap.css" rel="stylesheet" />

<!-- theme dependencies stylesheets -->
<link href="/admin/assets/app/css/dependencies.css" rel="stylesheet" />

<!-- theme app main.css (this import of all custom css, you can use requirejs for optimizeCss or grunt to optimize them all) -->
<link href="/admin/assets/app/css/syrena-admin.css" rel="stylesheet" />

<script type="text/javascript" src="/admin/public/js/js-yaml.js"></script>
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->
<script src="/admin/public/js/angular.js"></script>
<script type="text/javascript" src="/admin/public/js/module/groupOperation.js"></script>
<script type="text/javascript" src="/admin/public/js/module/widgetOperation.js"></script>
<!-- jQuery, theme required for theme -->
<script src="/admin/assets/jquery/jquery.js"></script>
<script src="/admin/assets/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/admin/public/ace-builds/src-noconflict/ace.js"></script>

<!-- theme dependencies -->
<!--
    Contents List
    1. Raphaël
    2. Isotope
    3. verge
    4. Moment
    5. Prettify
-->
<script src="/admin/assets/app/js/dependencies.js"></script>

<!-- other dependencies -->
<script src="/admin/assets/jquery-icheck/jquery.icheck.min.js"></script>


<!-- theme app main.js -->
<script src="/admin/assets/app/js/main.js"></script>
<script src="/admin/assets/messenger/js/messenger.min.js"></script>
<script src="/admin/assets/messenger/js/messenger-theme-flat.js"></script>
<script src="/admin/assets/messenger/js/messenger-theme-future.js"></script>
<style>
    .container {
        width: 1024px;
    }
    textarea {
        width:100%;
        height:600px;
    }
    .shop-page{
        width: 530px;
        padding: 10px 10px;
        border: 1px solid rgb(170, 170, 173);
        margin: 10px 10px;
    }
    .area-container {
        padding: 5px;
        border: 1px solid rgb(170, 170, 173);
        background-color: #2980b9;
    }
    .app{
        border: 1px solid rgb(170, 170, 173);
        padding: 10px;
        margin: 10px;
        background-color: rgb(255, 255, 255);
        cursor: pointer;
        position: relative;
    }

    .operation-bar{
        position: absolute;
        top:0px;
        right: 0px;
        background-color: #000000;
        opacity: 0.6;
    }

    .operation-button{
        color: white;
        font-size: 10px;
        margin-right: 3px;
        margin-left: 3px;

    }

    .main-container{
        margin-top: 5px;
        margin-bottom: 5px;
    }




</style>
<script type="text/javascript">
    var app=angular.module('app', []);

    function Controller ($scope,$http) {
        function getURLParameter(name) {
            return decodeURIComponent((new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.search)||[,""])[1].replace(/\+/g, '%20'))||null;
        }
        $scope.env=getURLParameter("env");
        $http.defaults.headers.common["X-ENV"]=$scope.env;

        Messenger.options = {
            extraClasses: 'messenger-fixed ' + 'messenger-on-top messenger-on-right',
            theme: 'flat'
        }


        function showSuccess(msg){
            Messenger().post({
                message: msg,
                type: 'success',
                showCloseButton: true
            });
        }

        function showError(msg){
            Messenger().post({
                message: msg,
                type: 'error',
                showCloseButton: true
            });
        }

        $http.post("/admin/api/user")
                .success(function(data) {
                    $scope.user=data;
                    loadLayout();
                }).error(function(data) {
                    window.location.href='/admin/login.html';
                });

        var layoutName=getURLParameter("name");
        var loadLayout=function(){
            $http.get("/admin/api/layout/"+layoutName)
                    .success(function(data) {
                        $scope.layout=data;
                        $scope.configString=JSON.stringify(data.config,null,"\t");
                    }).error(function(data) {
                        showError(data)
                    });
        }

        $scope.commitOptions={
            clearCache:true,
            comment:""
        };
        $scope.updateLayout=function(){
            $scope.layout.config=JSON.parse($scope.configString);
            $scope.commitOptions.layout=$scope.layout;
            $http.post("/admin/api/layout/commit",$scope.commitOptions)
                    .success(function(data) {
                        showSuccess($scope.layout.name+ ' updated')
                    }).error(function(data) {
                        showError(data)
                    });
        }

        $scope.updateModel=function(){
            try{
                var l=JSON.parse($scope.configString);
                $scope.layout.config=l;
            }catch(e){

            }
        }

        $scope.openWidget=function(widgetName){
            window.open('/admin/widget.html?name='+widgetName+'&env='+$scope.env);
        }

        $scope.moduleUp=function($event,section,widgetName){
            $event.stopPropagation();
            var section= $scope.layout.config[section];
            var index=section.indexOf(widgetName);
            if(index==0){
                return;
            }
            section[index]=section[index-1];
            section[index-1]=widgetName;
            $scope.configString=JSON.stringify($scope.layout.config,null,"\t");
        }

        $scope.moduleDown=function($event,section,widgetName){
            $event.stopPropagation();
            var section= $scope.layout.config[section];
            var index=section.indexOf(widgetName);
            if(index==section.length-1){
                return;
            }
            section[index]=section[index+1];
            section[index+1]=widgetName;
            $scope.configString=JSON.stringify($scope.layout.config,null,"\t");
        }

        $scope.showAddModuleDialog=function($event,section,widgetName){
            $event.stopPropagation();
            $scope.currentSection=section;
            $scope.currentWidget=widgetName;
            $('#addWidgetDialog').modal('show')
        }

        $scope.removeModule=function($event,section,widgetName){
            $event.stopPropagation();
            $scope.currentSection=section;
            var section= $scope.layout.config[section];
            var index=section.indexOf(widgetName);
            section.splice(index,1);
            $scope.configString=JSON.stringify($scope.layout.config,null,"\t");
        }

        $scope.addModule=function(widgetName){
            var section= $scope.layout.config[$scope.currentSection];
            var insertIndex=section.indexOf($scope.currentWidget)+1;
            section.splice(insertIndex,0,widgetName);
            $scope.configString=JSON.stringify($scope.layout.config,null,"\t");

        }

        $scope.showBar=function(widgetName){
            $scope.showBarStatus={};
            $scope.showBarStatus[widgetName]=true;
        }

        $scope.hideBar=function(){
            $scope.showBarStatus={};
        }
    }

</script>

</head>

<body  ng-controller="Controller">
<!-- content wrapper to define fullpage or container -->
<!-- (recomended: dont change the id value) -->
<section id="wrapper" class="container">
    <!-- define side left theme -->
    <aside class="side-left">
        <!-- side header -->
        <div class="side-header">
            <!-- place your brand (recomended: dont change the id value) -->
            <!-- (recomended: dont change the id value) -->
            <h1 id="brand" class="brand">
                <a href="/">
                    <!-- <i class="icon ion-waterdrop"></i> -->
                    Wizard
                </a>
            </h1><!-- /brand -->


        </div><!-- /side header -->

        <!-- side body -->
        <div class="side-body">
            <!-- this you can place your search result with ajax -->

            <!-- separate nav for ease development -->
            <nav class="side-nav">
                <!-- open nav ul -->

                <ul id="widgets" class="side-nav-child open">
                    <li class="side-nav-item">
                        <a n>
                            <i class="nav-item-icon icon ion-document"></i>
                            {{layout.name}}
                        </a>
                    </li>

                </ul>
            </nav>
        </div><!-- /side body -->
    </aside><!-- /side left -->

    <!-- define content theme, use data-swipe="true" to enable gesture event -->
    <!-- (recomended: dont change the id value) -->
    <section id="content" class="content">
        <!-- define your content header here -->
        <header class="content-header">
            <!-- header actions -->
            <div class="header-actions pull-right">

                <!-- (recomended: dont change the id value) -->
                <div class="btn-group">
                    <a id="users-setting" class="btn btn-icon data-toggle" data-toggle="dropdown" role="button">
                        <i class="icon ion-gear-b"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-extend pull-right" role="menu">
                        <li class="dropdown-profile">
                            <div class="dp-cover">
                                <img class="img-bg" src="/admin/assets/app/img/cover-blur.jpg" alt="">
                                <a class="img-avatar" href="page_profile.html">
                                    <img class="img-circle" src="/admin/assets/app/img/avatar3.png" alt="">
                                </a>
                                <div class="dp-details">{{user.name}}</div>
                            </div>
                        </li>
                        <li class="dropdown-footer">
                            <div class="clearfix">
                                <a href="javascript:;" class="btn btn-sm btn-default pull-right" ng-click="logout()">Sign out</a>
                            </div>
                        </li><!-- /dropdown-footer -->
                    </ul><!-- /dropdown-extend -->
                </div><!-- /btn-group setting -->


                <!-- (recomended: dont change the id value) -->
            </div><!-- /header actions -->

            <!-- header actions -->

            <!-- your Awesome App title -->
            <h1 class="content-title">{{layout.name}} ({{env}})</h1>
        </header><!-- /side left -->


        <!-- define content row -->
        <div class="content-spliter">
            <!-- define your awesome apps here -->
            <!-- (recomended: dont change the id value) -->
            <section id="content-main" class="content-main">

                <!-- your app content -->
                <div class="content-app fixed-header">
                    <!-- app header -->
                    <div class="app-header">
                        <div  class="pull-left">
                            <a data-toggle="modal" href="#submitDialog"  role="button" class="btn btn-success btn-extend be-left">
                                save
                                <i class="icon ion-plus"></i>
                            </a>
                        </div>
                    </div><!-- /app header -->

                    <!-- app body -->
                    <div  class="app-body">

                        <!-- app content here -->
                        <div class=" row">
                            <div class="control-group col-md-5">
                                <textarea type="text" style="margin-top:10px"  ng-model="configString" ng-change="updateModel()" placeholder=""></textarea>
                            </div>
                            <div class="col-md-7 shop-page pull-left">
                                <div style="padding: 2px 5px;">
                                    <div class="area-container head">
                                        <div ng-mouseenter="showBar(head)" ng-mouseleave="hideBar()" ng-click="openWidget(head)" ng-click="openWidget(head)" ng-repeat="head in layout.config.header" class="app">
                                            <div ng-show="showBarStatus[head]" class="operation-bar">
                                                <span class="operation-button glyphicon glyphicon-plus" ng-click="showAddModuleDialog($event,'header',head)"></span>
                                                <span class="operation-button glyphicon glyphicon-arrow-down" ng-click="moduleDown($event,'header',head)"></span>
                                                <span class="operation-button glyphicon glyphicon-arrow-up" ng-click="moduleUp($event,'header',head)"></span>
                                                <span class="operation-button glyphicon glyphicon-minus" ng-click="removeModule($event,'header',head)"></span>
                                            </div>
                                            <span>{{head}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="main-container row-fluid row">
                                    <div class="col-md-8" style="padding:2px 5px;">
                                        <div class="area-container main ">
                                            <div ng-mouseenter="showBar(main)" ng-mouseleave="hideBar()" ng-click="openWidget(main)" ng-repeat="main in layout.config.main" class="app">
                                                <div ng-show="showBarStatus[main]" class="operation-bar">
                                                    <span class="operation-button glyphicon glyphicon-plus" ng-click="showAddModuleDialog($event,'main',main)"></span>
                                                    <span class="operation-button glyphicon glyphicon-arrow-down" ng-click="moduleDown($event,'main',main)"></span>
                                                    <span class="operation-button glyphicon glyphicon-arrow-up" ng-click="moduleUp($event,'main',main)"></span>
                                                    <span class="operation-button glyphicon glyphicon-minus" ng-click="removeModule($event,'main',main)"></span>
                                                </div>
                                                <span>{{main}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4" style="padding:2px 3px;">
                                        <div class="area-container aisde">
                                            <div ng-mouseenter="showBar(aside)" ng-mouseleave="hideBar()" ng-click="openWidget(aside)" ng-click="openWidget(aside)" ng-repeat="aside in layout.config.aside" class="app">
                                                <div ng-show="showBarStatus[aside]" class="operation-bar">
                                                    <span class="operation-button glyphicon glyphicon-plus" ng-click="showAddModuleDialog($event,'aside',aside)"></span>
                                                    <span class="operation-button glyphicon glyphicon-arrow-down" ng-click="moduleDown($event,'aside',aside)"></span>
                                                    <span class="operation-button glyphicon glyphicon-arrow-up" ng-click="moduleUp($event,'aside',aside)"></span>
                                                    <span class="operation-button glyphicon glyphicon-minus" ng-click="removeModule($event,'aside',aside)"></span>
                                                </div>
                                                <span>{{aside}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div><!-- /app body -->
                </div><!-- /content app -->

            </section><!-- /content main -->



        </div><!-- /content spliter -->


    </section><!-- /content -->
</section><!-- /wrapper -->

</body>
<div id="addWidgetDialog" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Widget</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <fieldset>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Name:</label>
                            <div class="col-sm-8">
                                <input type="text" ng-model="widgetToAdd" class="form-control">
                            </div>
                        </div>

                    </fieldset><!-- /fieldset -->
                </form>

            </div>
            <div class="modal-footer">
                <button class="btn btn-small" data-dismiss="modal" aria-hidden="true">close</button>
                <button class="btn btn-small btn-primary" data-dismiss="modal" aria-hidden="true"
                        ng-click="addModule(widgetToAdd)">
                    add
                </button>
            </div>
        </div>
    </div>
</div>
<div id="submitDialog" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Enter Comment</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <fieldset>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Comment:</label>
                            <div class="col-sm-8">
                                <input type="text" ng-model="commitOptions.comment" class="form-control" placeholder="comment">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Clear Cache:</label>
                            <div class="col-sm-8">
                                <input type="checkbox" ng-model="commitOptions.clearCache"  class="">
                            </div>
                        </div>

                    </fieldset><!-- /fieldset -->
                </form>

            </div>
            <div class="modal-footer">
                <button class="btn btn-small" data-dismiss="modal" aria-hidden="true">close</button>
                <button class="btn btn-small btn-primary" data-dismiss="modal" aria-hidden="true"
                        ng-click="updateLayout()">
                    submit
                </button>
            </div>
        </div>
    </div>
</div>

</html>